@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {

    --rosa: hotpink;
    --azul: rgb(94, 184, 226);
    --verde-claro: #00FF00;
    --marrom-claro: #2d8fa0;

}

.titulo-principal {
    color: var(--azul);
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 50px;
}
body{
    background-image: url(corda.jpg);
    background-size: 150%;
}

.paragrafo{
    color: white;
}

.topicos{
    color: white;
}